*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font: 18px/1.45 system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  letter-spacing: 0.18px;
  color: #6b6375;
  background: #e5e7eb;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-weight: 500;
  color: #08060d;
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.6;
}